/* reusable styles */
* {
    box-sizing: border-box;
}

.flex-align-center {
	align-items: center;
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-grow {
	flex-grow: 1;
}

.cursor-pointer {
	cursor: pointer;
}

/* element styles */
#root {
	color: var(--primary-color);
	min-height: 100vh;
	width: 100%;
}

main {
	display: grid;
	min-height: 100vh;
}

main.auth-container {
	grid-template-columns: repeat(2, 50%);
}

main.home-container {
	grid-template-rows: 70px auto 90px;
}

.home-container header,
.home-container .contents-wrapper {
	margin: 0 auto;
	width: 75%;
}

.home-container .contents-wrapper {
	margin-bottom: 50px;
	margin-top: 20px;
}

.auth-left-section {
	position: relative;
	display: flex;
	justify-content: center;
}

.auth-left-section h1 {
	color: var(--primary-color);
	font-size: 24px;
	line-height: 1;
	margin-top: 30px;
	position: absolute;
}

.auth-left-section img {
	width: 100%;
}

.contents-wrapper.products-wrapper {
	display: flex;
}

.center-title {
	text-align: center;
	margin: 1em;
}