.authSection {
	align-items: center;
	background-color: #f2f4f6;
	color: var(--primary-color);
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.form label,
.form input,
.form textarea,
.form button {
	display: block;
	width: 100%;
}

.form input,
.form textarea {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font: inherit;
	padding: 0.25rem;
}

.authSection a {
	color: #44cb89;
}
