.authSection {
	align-items: center;
	background-color: #f2f4f6;
	color: #000;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.form label,
.form input,
.form textarea {
	display: block;
	width: 100%;
}

.form input,
.form textarea {
	background-color: #fff;
	color: #000;
	font: inherit;
	padding: 0.25rem;
}
